.card {
    height: 320px;
    flex:0 0 305px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fat-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}

app-project-item {
    text-align: center;
}
