mat-sidenav {
    width: 300px;
}

mat-sidenav-container.myapp-dark-theme {
    background-color: black;
}

.square {
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

main {
    text-align: center;
}