<form action="">
  <h1 matDialogTitle>新建任务</h1>
  <mat-dialog-content>
    <mat-input-container>
      <input matInput type="text" required placeholder="任务描述">
    </mat-input-container>
    <mat-radio-group [align]="'start'">
      <mat-radio-button *ngFor="let prioridty of prioridtys" name="stutus" [value]="prioridty.value">
        {{prioridty.name}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input matInput [matDatepicker]="duedatePickerRef" placeholder="任务截止日期">
      <mat-datepicker-toggle matSuffix [for]="duedatePickerRef"></mat-datepicker-toggle>
      <mat-datepicker #duedatePickerRef></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="reminderdatePickerRef" placeholder="提醒日期">
      <mat-datepicker-toggle matSuffix [for]="reminderdatePickerRef"></mat-datepicker-toggle>
      <mat-datepicker #reminderdatePickerRef></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-fab-button color="accent">保存</button>
    <button mat-fab-button matDialogClose>关闭</button>
  </mat-dialog-actions>
</form>
