<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        请您登录：
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-fill">
        <input type="text" placeholder="您的email" matInput>
      </mat-input-container>
      <mat-input-container class="full-fill">
        <input type="password" placeholder="您的密码" matInput>
      </mat-input-container>
      <button mat-raised-button (click)="onClick" type="button" color="warn">登录</button>
    </mat-card-content>
    <mat-card-actions class="full-fill action-right">
      <p>还没有账户？
        <a href="">注册</a>
      </p>
      <p>忘记密码？
        <a href="">找回</a>
      </p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
    </mat-card-header>
    <img src="../../../assets/123.jpg" alt="每日配图" mat-card-image>
    <mat-card-content>
      <p>当你的能力撑不起你的野心时，你就该全力以赴的去提升自己。</p>
      <p>人需要做一些必须做的事情，才能做自己想做的事情！</p>
    </mat-card-content>
  </mat-card>
</form>
