<mat-list-item [@taskItem]="taskState" 
    class="container" [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 1
}" (click)="OnItemClick()">
  <mat-checkbox (click)="CheckBoxClick($event)" class="completion-status" [(ngModel)]="item.completed" color="primary">
  </mat-checkbox>
  <div class="content" matLine [ngClass]="{'completed': item.completed}">
    <span [matTooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div class="bottom-bar" matLine>
    <span class="due-date" *ngIf="item.dueDate">
      {{item.dueDate | date: "yy-MM-dd"}}
    </span>
    <mat-icon *ngIf="item.reminder" class="mat-18">alarm</mat-icon>
  </div>
  <mat-icon class="mat-18 avatar" [svgIcon]="avatar" matListAvatar></mat-icon>
</mat-list-item>

